
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Golang HTML test</title>
</head>
<body>
{{$nicevar := .}}
<h1>I wrote this in Golang with a variable of value: {{$nicevar}}</h1>
</body>
</html>
